<h1>Fairmount/Kelly Drive</h1>

<ul>Running/Walking and Biking Paths</ul>
  <li>Kelly Drive and West River Drive</li>
    <p>Both bike paths start at the art museum and go along the east and west
    sides of the river. You can do them as an 8 mile loop by crossing at Falls
    Bridge. Kelly (East) River Drive is more crowded, West River Drive is
    closed to cars on until 12:00pm on weekends so you have the whole road.
    Kelly is nicer for running and walking, West River is nicer if you're biking</p>
  <li>Schuykill River Trail</li>
