<!-- <nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
    <a class="navbar-brand" href="#">Dave and Melissa's Wedding</a>
  </div>
  <ul class="nav navbar-nav">
      <li><a href="#">Friday</a></li>
      <li><a href="#">Saturday</a></li>
      <li><a href="#">Sunday</a></li>
    </ul>
  </div>
</nav> -->

<div class="jumbotron">
  <h1 class="display-4">Welcome to Philly!</h1>
  <p class="lead">Here's some information on things to do, wedding activities, food, etc.</p>
</div>
