
<body>
  <%= content_for :banner_img do %>
    <div class="d-none d-sm-block banner-image mw-100">
    </div>
  <% end %>

<div class="row">
  <h1 class="mx-auto text-center pt-5" style= "width: 600px">Melissa and Dave's Wedding Weekend</h1>
</div>

<div class="row">
  <h5 class="mx-auto text-center pt-2 pb-5" style= "width: 800px"> Welcome to Philly! We listed some points of interest, activities, and places to get food
      around town. It's organized by area. The schedule of official wedding activities is also posted. </p>
</div>

<div class="row">
  <div class="col-12 col-md-6">
    <div class="card m-4">
      <img class="card-img-top" data-src="holder.js/100px180/" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16434195116%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16434195116%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.203125%22%20y%3D%2296.3%22%3E286x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><a href="#">Fairmount & Kelly Drive<a></h5>
        <p class="card-text">Denison house, bike paths</p>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="card m-4">
      <%= image_tag "Logan.jpg", class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"><a href="#">The Logan</a></h5>
        <p class="card-text">Stuff around the hotel</p>

      </div>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="card m-4">
      <img class="card-img-top" data-src="holder.js/100px180/" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16434195116%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16434195116%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.203125%22%20y%3D%2296.3%22%3E286x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><a href="#">Historic Areas</a></h5>
        <p class="card-text">Old City and Independence Hall</p>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="card m-4  ">
      <%= image_tag "Rodin.jpg", class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title"><a href="#">Museums</a></h5>
        <p class="card-text">Museums along the Parkway</p>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="card m-4">
      <img class="card-img-top" data-src="holder.js/100px180/" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16434195116%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16434195116%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.203125%22%20y%3D%2296.3%22%3E286x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><a href="#">Transportation</a></h5>
        <p class="card-text">Getting to and From the Wedding</p>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="card m-4">
      <img class="card-img-top" data-src="holder.js/100px180/" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22286%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20286%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16434195116%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16434195116%22%3E%3Crect%20width%3D%22286%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22107.203125%22%20y%3D%2296.3%22%3E286x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><a href="#">Map</a></h5>
        <p class="card-text">Where all this stuff is</p>
      </div>
    </div>
  </div>

</div>
</body>
