<h1>Schedule</h1>

<h2>Friday</h2>
  <ul>
    <li>Rehearsal Dinner at <a href="https://yardsbrewing.com/taproom">Yards Brewing Company</a></li>
  </ul>

<h2>Saturday</h2>
  <ul>
    <li>Lunch at <%= link_to "Lloyd Hall", fairmount_locations_path %> </li>
    <!-- <%= link_to "Dave and Melissa's Wedding", root_path, class: 'navbar-brand' %> -->
    <li>Wedding at <a href="http://venue.camdencountyboathouse.com/">Camden County Boathouse</a></li>
  </ul>
<h3>Sunday</h3>
  <ul>
    <li>Brunch</li>
  </ul>
