<nav class="navbar navbar-expand-sm navbar-light bg-light col-2 d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <div class="collapse navbar-collapse" id="navbarSideNav">
      <ul class="nav flex-column">
        <li class="nav-item">
          <%= link_to 'The Logan', logan_locations_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Fairmount', fairmount_locations_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Historic', historic_locations_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Museums', museums_locations_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </div>
</nav>
