<div class="mx-auto text-center pt-5 pb-5">
  <h1>Fairmount/Kelly Drive</h1>

  <h2>Running/Walking and Biking Paths</h2>
  <ul>
    <li><a href="https://www.visitphilly.com/articles/philadelphia/running-and-biking-trails-center-city-philadelphia/#vp-article-section--item-2">Kelly Drive and West River Drive</a></li>
      <p>Both bike paths start at the Art Museum and go along the east and west
      sides of the river. You can do them as an 8 mile loop by crossing at Falls
      Bridge. Kelly (East) River Drive is more crowded, West River Drive is
      closed to cars on until 12:00pm on weekends so you have the whole road.
      Kelly is nicer for running and walking, West River is nicer if you're biking</p>
      <li><a href="https://www.visitphilly.com/articles/philadelphia/running-and-biking-trails-center-city-philadelphia/#vp-article-section--item-2">Schuykill River Trail</a></li>
      <p>Also starts at the Art Museum, but goes South towards center city/ Fitler
        Square Area. This is a nice path that extends into a boardwalk. It's about
        2 miles to the Locust St. exit if you want <a href="http://www.rivalbros.com/coffeebar/">coffee</a> or there's a couple <a href="http://www.fitlersquare.org/">parks</a>.
        The trail also extends further as a boardwalk.</p>
  </ul>

  <h2>Attractions</h2>
  <ul>
    <li><a href="https://www.visitphilly.com/things-to-do/attractions/the-rocky-statue-and-the-rocky-steps/">The Rocky Statue</a></li>
    <li><a href="https://myphillypark.org/explore/parks/azalea-garden/">The Azalea Garden</a></li>
    <li><a href="https://schuylkillrivertrail.com/trail_heads/lloyd-hall/">Lloyd Hall for lunch on Saturday</a></li>
  </ul>

  <h2>Food, Coffee, Beer Etc.</h2>
  <ul>
    <li><a href="http://www.ocfrealty.com/wp-content/uploads/2018/01/Fairmount-Menu.pdf">OCF Coffee and Cafe</a></li>
    <li><a href="https://www.pizzabrain.org/pizza-dads/">Pizza Dads</a></li>
    <li><a href="http://crimeandpunishmentbrewingco.com/brewpub/">Crime and Punishment Brewery</a></li>
    <li><a href="https://www.rybrew.com/menu">Rye Brew Bottle Shop</a></li>
    <li><a href="https://m.facebook.com/brownstreetcoffee/">Brown Street Cafe</a></li>
    <p>Coffee and Banh Mi</p>
  </ul>
</div>
