<h4>Fairmount/Kelly Drive</h4>

<h2>Running/Walking and Biking Paths</h2>
  <ul>
    <li>Kelly Drive and West River Drive</li>
      <p>Both bike paths start at the Art Museum and go along the east and west
        sides of the river. You can do them as an 8 mile loop by crossing at Falls
        Bridge. Kelly (East) River Drive is more crowded, West River Drive is
        closed to cars on until 12:00pm on weekends so you have the whole road.
        Kelly is nicer for running and walking, West River is nicer if you're biking</p>
    <li>Schuykill River Trail</li>
      <p>Also starts at the Art Museum, but goes South towards center city/ Fitler
      Square Area. This is a nice path that extends into a boardwalk. It's about
      2 miles to the Locust St. exit if you want coffee or there's a couple parks.
      The trail also extends further as a boardwalk.</p>
  </ul>

<h2>The Rocky Statue</h2>
  <ul>
    <li>At the bottom of the Art Museum steps</li>
  </ul>

<h2>The Azalea Garden</h2>
  <ul>
    <li>Right behind the Art Museum</li>
  </ul>

<h2>Lloyd Hall</h2>
  <ul>
    <li>This is also behind the Art Museum. Lunch is here on Saturday and
         can also rent bikes here.</li>
  </ul>

<h2>Food, Coffee, Beer Etc.</h2>
