<div class="mx-auto text-center pt-5 pb-5">

  <h1>Historic Areas: Old City & Independence Mall</h1>

  <h2>Old City</h2>
  <ul>
    <li><a href="https://www.visitphilly.com/areas/philadelphia-neighborhoods/old-city/">Historic Stuff</a></li>
    <li><a href="http://www.delawareriverwaterfront.com/places/spruce-street-harbor-park">Spruce Harbor Park</a></li>
  </ul>

  <h2>Independence Mall</h2>
  <ul>
    <li><a href="https://www.nps.gov/inde/learn/historyculture/stories-libertybell.htm">The Liberty Bell</a></li>
    <li><a href="https://constitutioncenter.org/">The National Constitution Center</a></li>
  </ul>

  <h2>Food, Coffee, Beer, etc</h2>
  <ul>
    <li><a href="http://www.menageriecoffee.com/about/">Menagerie Coffee</a></li>
    <li><a href="https://highstreetonmarket.com/">High Street on Market Cafe</a></li>
  </ul>
</div>
