<% content_for :title do %>
  Hotels
<% end %>

<h1 class="mx-auto text-center pt-5 pb-5">Hotels</h1>

<h2 class="mb-3">Food</h2>

<div class="mb-4">
  <h5>Wawa</h5>
  <p>
    Let’s start with the basics. There’s a 24/7 WAWA (don’t make fun of the
    name, Philly LOVES WAWA.) about a block away from hotel. Cut through the
    park across 18th street till you reach Arch Street. Turn left. You’re there.
    You can get everything that you would need to happily stay alive in Philadelphia
    and even make a donation to the homeless dude holding the door for you if you want.
    The Comcast Center across from the WAWA has a food court that’s good but limited offerings
    on Saturday, Closed on Sunday.
  </p>
</div>

<div class="mb-4">
  <h5>Animo Juice Bar</h5>
  <p>
    Next to the WAWA is Amino Juice and Burrito Bar. It’s open early 7am on Friday,
    and 10am on Saturday. Closed Sunday. I think it’s good but I’ve never eaten there.
  </p>
  <%= link_to 'Visit', 'https://www.animojuice.com/', target: '_blank', rel: 'noopener noreferrer', class: 'btn btn-outline-warning' %>
</div>

<div class="mb-4">
  <h5>Sister Cities Park and Cafe</h5>
  <p>The Sister Cities Park and Logan Square Cafe is across the Parkway and in
    front of the Cathedral. It’s pretty good and super scenic with fountain, etc.
    Café opens 8am Saturday and Sunday.</p>
  <%= link_to 'Visit', 'https://centercityphila.org/parks/sister-cities-park', target: '_blank', rel: 'noopener noreferrer', class: 'btn btn-outline-warning' %>
</div>

<h2 class="mb-3">Drinks</h2>

<div class="mb-4">
  <h5>Misconduct Tavern</h5>
  <p>Misconduct Tavern is at 18th street and JFK Blvd. A block away. A sports bar.</p>
  <%= link_to 'Visit', 'http://www.misconducttavern.com/#about', target: '_blank', rel: 'noopener noreferrer', class: 'btn btn-outline-warning' %>
</div>


<div class="mb-4">
  <h5>City Tap House</h5>
  <p>The City Tap House is right next to the Logan on 18th. Sports Bar but nice.</p>
  <%= link_to 'Visit', 'http://www.logan.citytap.com', target: '_blank', rel: 'noopener noreferrer', class: 'btn btn-outline-warning' %>
</div>

<div class="mb-4">
  <h5>Mace's Crossing</h5>
  <p>Mace’s Crossing is a chill local bar that’s cheap and comfy, almost a
    Dive Bar that’s been there forever. It’s just a block away on the Parkway
    heading into Center City.  No website… proof of its divieness. </p>
</div>
