<h2>Locations</h2>

<p> <%= link_to "Fairmount/ Kelly Drive", fairmount_locations_path %> </p>

<p> <%= link_to "Historic Areas", historic_locations_path %> </p>

<p><%= link_to "The Logan", logan_locations_path %> </p>

<p> <%= link_to "Museums/ Parkway", museums_locations_path %> </p>
