<h1>Locations</h1>

<h3> <%= link_to "Fairmount/ Kelly Drive", fairmount_locations_path %> </h3>

<h3> <%= link_to "Historic Areas", historic_locations_path %> </h3>

<h3><%= link_to "The Logan", logan_locations_path %> </h3>

<h3> <%= link_to "Museums/ Parkway", museums_locations_path %> </h3>
