<h1>Logan</h1>

<h2>Breakfast Places</h2>
  <ul>
    <li>DiBruno's</li>
      <p>Underneath the Comcast Center at 17th and JFK- they make breakfast on weekdays and
          starting at 10 on Saturdays. Eggs,bacon, coffee</p>
    <li>Corner Bakery</li>
      <p>The corner of 17th and JFK- Eggs, bacon, coffee</p>
    <li>Green Line Cafe</li>
      <p>Corner of 17th and Arch</p>
    <li>Wawa</li>
      <p>17th and Arch</p>
    <li>Old Nelson</li>
    <li>Whole Foods</li>
      <p>A bit further, at 21st and Pennsylvania</p>
  </ul>

<h2>Little Parks</h2>
  <li>Sister Cities Park</li>
  <li>Fountains and trees behind ATT Building</li>
  <li>Comcast center</li>
  <li>Viaduct Park</li>

<h3>Food, Coffee, Beer, etc</h3>
  <li>Outdoor beer garden</li>
  <li></li>
