<h1 class="mx-auto text-center pt-5 pb-5">The Logan</h1>

<h2>Food</h2>
  <div class="pt-2 pb-5">
    <ul class="list-unstyled">
      <li class="bold">Wawa</li>
        <p>Let’s start with the basics. There’s a 24/7 WAWA (don’t make fun of the
          name, Philly LOVES WAWA.) about a block away from hotel. Cut through the
          park across 18th street till you reach Arch Street. Turn left. You’re there.
           You can get everything that you would need to happily stay alive in Philadelphia
           and even make a donation to the homeless dude holding the door for you if you want.
           The Comcast Center across from the WAWA has a food court that’s good but limited offerings
           on Saturday, Closed on Sunday.</p>
      <li class="bold">
        <%= link_to 'Animo Juice Bar', 'https://www.animojuice.com/', target: '_blank', rel: 'noopener noreferrer', class: 'muted' %>
      </li>
      <p>Next to the WAWA is Amino Juice and Burrito Bar. It’s open early 7am on Friday,
        and 10am on Saturday. Closed Sunday. I think it’s good but I’ve never eaten there. </p>
      <li class="bold">
        <%= link_to 'Sister Cities Park and Cafe', 'https://centercityphila.org/parks/sister-cities-park', target: '_blank', rel: 'noopener noreferrer', class: 'muted' %>
      </li>
        <p>The Sister Cities Park and Logan Square Cafe is across the Parkway and in
          front of the Cathedral. It’s pretty good and super scenic with fountain, etc.
          Café opens 8am Saturday and Sunday.</p>
    </ul>
  </div>

<h2>Drinks</h2>
  <div class="pt-2 pb-5">
    <ul class="list-unstyled">
      <li class="bold">Mace's Crossing</li>
      <p>Mace’s Crossing is a chill local bar that’s cheap and comfy, almost a
        Dive Bar that’s been there forever. It’s just a block away on the Parkway
        heading into Center City.  No website… proof of its divieness. </p>
      <li class="bold">
        <%= link_to 'Misconduct Tavern', 'http://www.misconducttavern.com/#about', target: '_blank', rel: 'noopener noreferrer', class: 'muted' %>
      </li>
      <p>Misconduct Tavern is at 18th street and JFK Blvd. A block away. A sports bar.</p>
      <li class="bold">
        <%= link_to 'City Tap House', 'http://www.logan.citytap.com', target: '_blank', rel: 'noopener noreferrer', class: 'muted' %>
      </li>
      <p>The City Tap House is right next to the Logan on 18th. Sports Bar but nice.</p>
    </ul>
</div>
