<h1 class="mx-auto text-center pt-5 pb-5">The Logan</h1>

<div class="mx-auto text-center">

<h2>Breakfast Places</h2>
  <ul>
    <li><a href="https://dibruno.com/locations/the-market-at-comcast-center/">DiBruno's</a></li>
      <p>Underneath the Comcast Center at 17th and JFK- they make breakfast on weekdays and
          starting at 10am on weekends. <a href="https://dibruno.com/locations/the-market-at-comcast-center/comcast-menus/">Eggs,bacon, coffee</a></p>
    <li><a href="https://www.cornerbakerycafe.com/location/17th-jfk">Corner Bakery</a></li>
      <p>The corner of 17th and JFK- Eggs, bacon, coffee</p>
    <li><a href="https://www.wawa.com/stores/86/pa-philadelphia-1707-arch-st">Wawa</a></li>
      <p>Convenience store located at 17th and Arch</p>
    <li><a href="https://www.oldnelsonfood.com/locations">Old Nelson</a></li>
      <p>1833 JFK Blvd. This location sells beer</p>
    <li><a href="https://www.wholefoodsmarket.com/stores/phillycentercity">Whole Foods</a></li>
      <p>A bit further, at 21st and Pennsylvania</p>
  </ul>

<h2>Parks</h2>
  <ul>
    <li><a href="https://centercityphila.org/parks/sister-cities-park">Sister Cities Park</a></li>
    <li><a href="https://therailpark.org/phase-one-is-open/">The Rail Park</a></li>
    <li>Three Logan Square</li>
      <p>1717 Arch St.</p>
  </ul>

<h3>Food, Coffee, Beer, etc</h3>
  <ul>
    <li>Uptown Beer Garden</li>
      <p>1735 Market Street</p>
    <li><a href="http://www.federaldonuts.com/">Federal Donuts</a></li>
      <p>Donuts and fried chicken</p>
    <li><a href="http://www.metropolitanbakery.com/locations/rittenhouse-square">Metropolitan Bakery and Cafe</a></li>
    <li><a href="https://elixrcoffee.com/">Elixir Coffee</a></li>
    <li><a href="https://www.lacolombe.com/pages/cafes#philadelphia">La Colombe Coffee Dillworth Plaza</a></li>
    <li><a href="http://www.fooderybeer.com/">The Foodery</a></li>
  </ul>

</div>
