<% content_for :title do %>
  The Wedding
<% end %>

<h1 class="mx-auto text-center pt-5 pb-5">The Wedding</h1>

<div class="mb-4">
  <h5>Camden County Boathouse</h5>
  <p>
    The wedding is at the Camden County Boathouse in New Jersey. It’s a car
    ride or an approximate $20 LYFT ride each way. The wedding starts at
    5:30pm on Saturday and the address is 7050 N Park Dr. Pennsauken NJ 08109
  </p>
  <%= link_to "Visit", "http://venue.camdencountyboathouse.com/", target: "_blank", rel: "noopener noreferrer", class: "btn btn-outline-warning" %>
</div>
