<% content_for :main do %>
  <div class="row">
    <%= render partial: 'sidebar' %>
    <div class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/application' %>
